body {
	color: #2c679c;
	height: 100%;
	max-height: 100%;
	margin: 0px;
}

.header {
	background-color: #2c679c;
	padding: 5px;
}

.header > h1 {
	color: #FFF;
	height: 32px;
	min-height: 10%;
	font-size: 26px;
	padding: 0px 0px 0px 5px;
	margin: 0px;
}

.controls {
	margin: 5px;
/*	height: 300px;
	min-height: 30%;*/
	padding-bottom: 30px;
}

#results {
	display: inline-block;
	color: #444;
	margin: 5px;
	height: 600px;
	min-height: 60%;
}

#results { height: 416px; margin-top: 10px; min-height: 60%; overflow: auto;}
#results thead { margin-top: -30px; position: absolute; border-bottom: 1pt solid #444;}
.single-value-result { margin-top: -30px; position: absolute; font-weight: bold;}

.encounters td, .encounters th {
	width: 160px;
}

.lab-results td, .lab-results th {
	width: 120px;
}

th {
	text-align: right;
}

td {
	text-align: right;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

h2 {
	margin: 10px 0px;
}